@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-color: #bb9f80;
    color: #fff;

}

.menu-head h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.6rem;
    text-align: center;
}

.container{
    width: 100%;
    padding:20px 30% ;
    text-align: center;
}

.nav-button{
    padding: 5px 20px;
    background-color:#be9465;
    color:#ffffff;
    font-weight: bold;
    border: 0cm;
}

.card {
    flex-direction: row;
    height: 150px;
    min-width: 450px;
}

.card-img {
    width: 30%;
    padding: 10px;
}

.card-img img{
    height: 100%;
}

.card-title{
    color:#ff8800;
    text-decoration: underline;
}

.row{
    padding: 250px;
}

button:hover{
    background-color:#ecbd87;
}

.estrelinhas{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
}

.estrelinhas input{
  /*display: none;*/
}

.estrelinhas label{
  
}

